
a{
  text-decoration: none;
}

.App-header{
  width: 100%;
}

.header{
  background-color: #FFE600;
}

.group{
  display: flex;
}

.container{
  margin: 0px 10em 0 10em;
  display: flex;
}

.py-5{
  padding: 5px 0px
}

.w-10{
  width: 10%;
}

.w-90{
  width: 90%;
}

.inp-search{
  width: 100%;
  height: 31px;
  font-size: 18px;
  color: #999999;
  border-radius: 2px;
  border: 0px;
}

.inp-search::placeholder {
  color: #999999;
  font-size: 18px;
}

.inp-search:focus-visible{
  outline: none;
}

.logo-search{
  width: 20px;
}

.img-logo{
  width: 55px;
}

.btn-search{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 0px;
  width: 40px;
}

.img-search{
  width: 18px;
}

.py-7{
  padding: 7px 0px;
}

.body-list{
  background-color: #EEEEEE;
  height: 100%;
  width: 100%;
}

.breadcrumb{
  font-size: 14px;
  color: #999999;
  padding: 16px 0px;
  width: 100%;
  font-weight: 500;
}

.img-item{
  width: 180px;
  height: 180px;
  border-radius: 4px;
}

.container-body{
  margin: 0px 10em 0 10em;
  padding-bottom: 10em;
}

.row{
  display: flex;
}

.m-16{
  margin: 16px;
}

.item-detail{
  width: 60%;
}

.txt-price{
  padding-top: 40px;
  font-size: 24px;
  color: #333333;
  padding-bottom: 20px;
}

.txt-item-name{
  font-size: 18px;
  color: #333333;
}

.txt-item-status{
  font-size: 18px;
  color: #333333;
}

.item-city{
  width: 20%;
  padding-top: 60px;
}

.txt-city{
  font-size: 12px;
  color: #999999;
}

.c-shipp{
  padding-left: 10px;
}

.line{
  margin: 0px 16px;
  border: 1px solid #EEEEEE;
}

.container-row{
  background: #FFFFFF;
}

.mb-30{
  margin-bottom: 30px;
}

.pb-0{
  padding-bottom: 0px;
}

.bkg-w{
  background-color: #FFFFFF;
}

.px-32{
  padding: 0px 32px;
}

.w-60{
  width: 60%;
}

.img-detail{
  width: 580px;
}

.w-40{
  width: 40%;
}

.pb-50{
  padding-bottom: 50px;
}

.txt-description{
  text-align: left;
}

.txt-ttl-des{
  font-size: 28px;
  color: #333333;
  padding-bottom: 32px;
}

.txt-det-des{
  font-size: 16px;
  color: #999999;
  padding-bottom: 32px;
}

.pt-32{
  padding-top: 32px;
}

.d-flex{
  display: flex;
}

.ml-5{
  margin-left: 5px;
}

.txt-st-prod{
  font-size: 14px;
  color: #333333;
  padding-bottom: 16px;
}

.txt-nm-prod{
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 20px;
}

.txt-price-det{
  font-size: 46px;
  color: #333333;
  padding-bottom: 32px;
}

.btn-buy{
  background: #3483FA;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  width: 70%;
  height: 40px;
}